.wrap_spinner{
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  z-index: 10;
  p {
    margin-top: -8rem;
    color: #EE0E51;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .wrap_square {
    transform: rotate(25deg);
    div {
      width: 3rem;
      height: 3rem;
      position: absolute;    
      box-sizing: border-box;
      background-color: #ffffff;
      border: 0.3rem solid #EE0E51;
      box-sizing: border-box;
      border-collapse: collapse;
      
    }
    .square_1 {
      transform: translateX(2.9rem);
      z-index: 20;
     animation: translate_1 3s infinite ease-in;
      animation-delay: 0.5s;
    }
    .square_2 {
      transform: translateY(-2.9rem);
      z-index: 20;
    animation: translate_2 3s infinite ease-in;
    
  
    }
    .square_3 {
      z-index: 20;
     animation: translate_3 3s infinite ease-in;
      animation-delay: 0.25s;
      
    }
  }


  @keyframes translate_1 {
    8.3% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0);
    }
    33.3% {
      transform: translateY(-2.9rem);
    }
    50%{
      transform: translateY(-2.9rem);
    }
    58.3% {
      transform: translate(2.9rem, -2.9rem);
    }
    75% {
      transform: translate(2.9rem, -2.9rem);
    }
    83.3% {
      transform: translate(2.9rem, 0);
    }
    100% {
      transform: translate(2.9rem, 0);
    }
  }
  @keyframes translate_2 {
    8.3% {
      transform: translate(2.9rem, -2.9rem);
    }
    25% {
      transform: translate(2.9rem, -2.9rem);
    }
    33.3% {
      transform: translate(2.9rem, 0);
    }
    50% {
      transform: translate(2.9rem, 0);
    }
    58.3% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(0);
    }
    83.3% {
      transform: translateY(-2.9rem);
    }
    100% {
      transform: translateY(-2.9rem);
    }
  }
  @keyframes translate_3 {
    8.3% {
      transform: translateY(-2.9rem);
    }
    25% {
      transform: translateY(-2.9rem);
    }
    33.3% {
      transform: translate(2.9rem, -2.9rem);
    }
    50% {
      transform: translate(2.9rem, -2.9rem);
    }
    58.3% {
      transform: translate(2.9rem, 0);
    }
    75% {
      transform: translate(2.9rem, 0);
    }
    83.3% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }  
}